/* Primary */

/* - Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */

/* APP CONTAINER */

.appContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* margin-top: 40px; */
  background-image: linear-gradient(
    180deg,
    hsl(216, 12%, 54%, 0.3),
    hsl(213, 19%, 18%)
  );
  border-radius: 15px;
  padding: 30px 0 30px 0;
  width: 85%;
  margin-top: 90px;
}

/* STAR ICON */

.starContainer {
  margin: 0 0 10px 10px;
  display: flex;
  background-color: hsl(216, 12%, 54%, 0.5);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.starIcon {
  margin: auto;
  height: 11px;
}

/* HEADING */

.ratingHeading {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  margin: 0 10px 0 10px;
  text-align: left;
}

/* RATING TEXT */

.ratingText {
  display: flex;
  font-family: "Overpass", sans-serif;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
  text-align: left;
}

/* NUMBERS */

.numberBar {
  margin: 0 15px 10px 5px;
  display: flex;
  justify-content: space-between;
}

.numberSelector {
  font-size: 11px;
  font-family: "Overpass", sans-serif;
  display: inline-flex;
  color: hsl(0, 0%, 100%, 0.5);
  background-color: hsl(216, 12%, 54%, 0.3);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

/* SUBMIT BUTTON */

.btnContainer {
  display: flex;
  justify-content: center;
}

.submitBtn {
  display: inline-flex;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: white;
  padding: 10px 0 10px 0;
  background: hsl(25, 97%, 53%);
  border: 0.5px solid hsl(25, 97%, 53%);
  border-radius: 15px;
  width: 80%;
  height: 20%;
  font-size: 12px;
  justify-content: center;
}
